.meet {
    position: relative;
}
.male {
    margin: 7% auto 15% 10%;
}
.female {
    position: absolute;
    top: 35%;
    left: 22%;
}
.bord {
    border: 2px solid #E43071;
    font-size: 16px;
    font-weight: 600;
}
.paragraph {
    width: 37%;
    margin: 15% 10% auto auto;
    justify-content: center;
}
h2 {
    font-size: 40px;
    font-weight: 700;
    color: #E43071;
    margin-bottom: 0;
}
.text {
    color: #424242;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5%;
    line-height: 37px;
}
