.real{
    background: url(img/Rectangle\ 17.png) no-repeat;
    background-size: cover;
}
.texttable{
    margin: 0 0 1% 20%;
    width: 28%;
}
h3 {
    margin-bottom: 0;
    color: #424242;
    font-size: 48px;
    font-weight: 600;
}
.customers{
    display: block;
    text-align: left;
}
.inspired {
    color: #424242;
    margin-top: 2%;
    font-size: 18px;
    font-weight: 400;
}
.story {
    margin: 0 0 0 auto;
    width: 70%;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.18);
}
.Kg {
    margin: 10% auto 3% 8%;
    color: #E43071;
    font-size: 38px;
    font-weight: 600;
    line-height: 45.296px
}
.kov {
    color: #F8C5D7;
    font-family: 'Times New Roman';
    font-size: 58px;
    font-weight: 700;
    margin: 0 0 0 8%;
}
.max {
    width: 70%;
    margin: 4% 0 4% 2%;
}
.chel {
    width: 70%;
    margin-left: 18%;
}
.portrait {
    width: 59px;
    height: 57px;
}
.name {
    justify-content: space-between; 
    margin-left: 8%;
}
.fio {
    color: #424242;
    font-size: 18px;
    font-weight: 600;
    line-height: 34px;
    margin: 0;
}
.status {
    color: #969BAB;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    margin: 0;
    margin-bottom: 35%;
}
.tabletable {
    width: 30%;
    margin: 6% auto 5% 2%;
}
.second {
    width: 90%;
    margin: 0;
    margin-bottom: 6%;
}
.third {
    width: 70%;
    margin: 0;
}
